@import "/static/css/colors.css"

.Project__project_controller
	left: 50%
	transform-origin: center center
	transform: translateX(-50%)
	position: relative
	z-index: 10

.Project__project_controller__group
	padding: 30px
	border-radius: 10px
	background: var(--back-color)
	border: 1px solid var(--border-color)

.ProjectBoard
	margin: 10% 30px
	display: grid
	grid-gap: 60px

.ProjectTile
	margin-bottom: 20%
	opacity: 0
	color: var(--b-color)
	transition: color 0.68s
	&:hover
		color: var(--p-color)

.ProjectTitle__image_container
	display: flex
	flex-direction: column
	justify-self: center
	align-content: center
	cursor: pointer
	position: relative
	overflow: hidden
	max-height: 80vh
	transition: all 0.3s

.ProjectTile__content
	display: flex
	flex-direction: column
	margin-top: 5%
	font-family: 'Inter'
	.project_t
		font-weight: 400
		margin: 0
		font-size: 1.3em
		word-break: break-word
	.project_m
		margin: 20px 0px
	.project_y
		margin-bottom: 0
		font-size: 3rem

.seperate
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: flex-end

.background-overlay
	position: fixed
	user-select: none
	pointer-events: none
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	z-index: -100
