:root {
  --p-white: #111111;
  --s-white: #818181;
  --b-white: #eeeeee;
  --back-white: #fefefe;
  --border-white: var(--s-white);

  --p-black: #f5f5f5;
  --s-black: #666666;
  --b-black: #000000;
  --back-black: #121212;
  --border-black: #232323;

  --p-color: var(--p-white);
  --s-color: var(--s-white);
  --b-color: var(--b-white);
  --back-color: var(--back-white);
  --border-color: var(--border-white);

  --mobile-max-width: 400px;
}
