.navigation
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	padding: 2%

.navigation__group
	display: flex
	align-items: center
	gap: 3rem

.navigation__link
	font-size: 1.125rem
